* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    max-width: 700px;
    margin: 0 auto;
}

.button_menu {
    display: flex;
}

.btn_m {
    flex: 0 1 33.3%;
    padding: 10px;
    background-color: red;
    color: white;
    font-size: 20px;
}

.img_con {
    display: flex;
}

.cat {
    background-color: blue;
    flex: 0 0 50%;
    padding: 10px 10px 80px 10px;
}

.dog {
    background-color: green;
    flex: 0 0 50%;
    padding: 10px 10px 80px 10px;
}

img {
    width: 100%;
    height: 100%;
}